/* HomeView */
.homePage {
  padding-top: 15px;
}

.header {
  margin-bottom: 25px;
}

.item {
  margin-bottom: 5px;
  list-style: none;
}

/* Cast */
.castList {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}

.castName {
  font-size: 12px;
  text-align: center;
}

.itemWrapper {
  margin: 0px 25px 10px 0px;
}

.defaultImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 135px;
  height: 202px;
}

/* GoBackBtn */
.btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 0.1px solid rgba 255, 255, 255, 0.5;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  transition: 0.2s ease-in-out;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.671);
  background-image: rgba(255, 255, 255, 0.5);
}

.btn:hover {
  background: #aaaaaa;
  color: #fff;
}

/* Reviews */
.reviewList {
  list-style: none;
}

.reviewContainer {
  margin-top: 25px;
}

.reviewText {
  margin: 0;
}

.reviewAuthor {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
}

/* MovieDetailPage */
.page {
  padding-top: 25px;
}

.header {
  margin-bottom: 15px;
}

.img {
  width: 250px;
  min-height: 150px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.genres {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}

.genresItem {
  margin-left: 5px;
}

.wrapper {
  display: flex;
}

.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 0.1px solid rgba 255, 255, 255, 0.5;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  transition: 0.2s ease-in-out;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.671);
  background-color: rgba(255, 255, 255, 0.5);
}

.link:hover {
  /* background: #aaaaaa; */
  color: #000;
}

.activeLink {
  background: #aaaaaa;
  color: #fff;
}
/* .activeLink:hover {
  color: #fff;
} */
